<h1>Profile:</h1>
<img src="{{user.avatarImgPath}}" alt="">
<form action="/uploadAvatarImg/{{user.id}}" method="post" enctype="multipart/form-data">
  <input type="file" name="photo">
  <br>
  <input type="submit" value="SAVE">
</form>


<h1>Total Points: {{user.totalPoints}}</h1>

<h1>Weekly Consistency: {{user.weeklyConsistency}}</h1>


<h1>Top Goal: {{user.topGoal}}</h1>
<h1>Highest Streak Value: {{user.highestStreakValue}}</h1>



