 
 <div class="header">
  <img src="{{user.avatarImgPath}}" alt="">
  <form action="/uploadAvatarImg/{{user.id}}" method="post" enctype="multipart/form-data">
    <input type="file" name="photo">
    <br>
    <input type="submit" value="SAVE">
  </form>

 </div>

<div class="main-container">

  <p class="encourage-message">Look what you have accomplished so far.</p>


  <h3>Daily Consistency for Each Goal</h3>
 <canvas id="pie-chart"></canvas>

 
<br>

<h3>Daily Consistency</h3>
<div class="bar-graph-wrapper">
<canvas id="bar-graph"></canvas>
</div>
  

  

  <div class="stats-component">
    <p><i class="fas fa-award"></i> Total Points: {{user.totalPoints}}</p>
  </div>

  <div class="stats-component">
    <p><i class="fas fa-fist-raised"></i> Weekly Consistency: {{user.weeklyConsistency}}</p>
  </div>

  <div class="stats-component">
    <p><i class="fas fa-trophy"></i> Highest Streak Value: {{user.highestStreakValue}}</p>
  </div> 

  <div class="stats-component">
    <p><i class="fas fa-heart"></i> Top Goal: {{user.topGoal}}</p>
  </div>  

  <div class="stats-component">
    <p><i class="fas fa-check"></i> Habits Completed: {{user.didHabitDays.doneHabits}}</p>
  </div>  

  <div class="stats-component">
    <p><i class="fas fa-skull-crossbones"></i> Habits Skipped: {{user.didHabitDays.missedDays}}</p>
  </div>



</div>









<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
<script src="/javascripts/profile/profile.js"></script>