<h1>Profile:</h1>
<img src="{{user.avatarImgPath}}" alt="">
<form action="/uploadAvatarImg/{{user.id}}" method="post" enctype="multipart/form-data">
  <input type="file" name="photo">
  <br>
  <input type="submit" value="SAVE">
</form>

<h1>Total Points: {{user.totalPoints}}</h1>

<h1>Weekly Consistency: {{user.weeklyConsistency}}</h1>


<h1>Top Goal: {{user.topGoal}}</h1>
<h1>Highest Streak Value: {{user.highestStreakValue}}</h1>


<div class="goals-progress">
  {{#each goals}}
      {{this.title}}
<progress max="{{this.history.length}}" value="{{this.dailySuccesses}}"></progress>
<br>
  {{/each}}
</div>




<p> Done Habits {{user.didHabitDays.doneHabits}}</p>
<p> missed Days {{user.didHabitDays.missedDays}}</p>

<script src="/javascripts/profile/profile.js"></script>