
{{#if isConnected}}
<h2>Welcome, {{currentUser.email}} </h2>
{{else}}
<h3>You are not currently logged in</h3>
{{/if}}






<div class="goals-wrapper">
  {{#each goals}}
    {{#if this.currentlyDoing}}
      <div class="goal">
        <h1>{{this.title}}</h1>
        <h2>{{this.streak}}</h2>

        <div class="chart-wrapper">
            {{#each this.displayData}}
              <div class="square color-code-{{this}}"></div>
          {{/each}}
        </div>
        <div>
        <form action="/quitHabit/{{this._id}}" method="POST">
          <button>Quit this habit.</button>
        </form>

        <br>

        <form action="/update/{{this._id}}" method="POST">
          <button>I did this today.</button>
        </form>

        </div>


      </div>
  {{/if}}
  {{/each}}
</div>