<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<div class="goals-wrapper">
  {{#each goals}}
  <div class="goal">
    <h1>{{this.title}}</h1>

    <div class="chart-wrapper">
        {{#each this.history}}
           <div class="square color-code-{{this}}"></div>
       {{/each}}
       {{!-- {{lookup ../this.history @index}} --}}
    </div>

    <form action="" method="POST">
      <button>I did this today.</button>
    </form>

  </div>
  {{/each}}
</div>